.navbar-brand{
    font-family:'Times New Roman', Times, serif;
    font-size: 20px;

}
.navbar-brand>a>h3{
    color:black;
}
.nav-link{
    color:black;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
body{
background-color: whitesmoke;
}
.navbar-brand>a>h3>span{
    color:red;
}
.navbar{
    background: whitesmoke;
}
#bookDisplay{
    left:0;
}
.book{
    width:fit-content;
    display: flexbox;
}
#search{
   border:2px solid black;
}
.cate{
    cursor: pointer;
}
.tag{
    cursor: pointer;
}
#loading{
    position: absolute;
    left:0;
    right:0;
    top:0;
    right:0;
    text-align: center;
    margin:auto;
}